<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>
		<br>
		<form action="/noticias/salvar" method="POST">
			<label for="">Titulo</label>
			<input type="text" id="titulo" name="titulo" placeholder="titulo da noticias"/>
			<br>
			<label for="">Noticias</label>
			<textarea name="noticia" id="" cols="30" rows="5"></textarea>
			<br>
			<input type="submit" value="Enviar">
		</form>

	</body>
</html>